{% extends 'base.html' %}
{% load static %}


        {% block content %}

            <div class="content_box">
                <h2>About Us</h2>
                <div class="image_wrapper image_fl"><img src="{% static "images/templatemo_image_01.jpg" %}" alt="Image 1" /></div>
                <p><em> سلام، من آرین تهامی هستم. به عنوان یک علاقه‌مند به تکنولوژی‌های جدید، به برنامه‌نویسی روی آورده‌ام و با زبان‌های برنامه‌نویسی پایتون، اچ‌تی‌ام‌ال و سی‌اس‌اس آشنایی دارم. در حال حاضر در شهر مشهد ایران زندگی می‌کنم و فعالیت‌هایم را در گیت‌هاب و لینکداین انجام می‌دهم.

علاقه‌مندی‌هایم در دنیای تکنولوژی به سمت هوش مصنوعی را سوق داد و با استفاده از جنگو، یک سایت راه‌اندازی کردم. این سایت به همه مردم دنیا اطلاعات در مورد فواید هوش مصنوعی را ارائه می‌دهد و به آنها درباره سایت‌هایی که خروجی‌های خوبی از هوش مصنوعی برای عامه مردم ارائه می‌دهند، اطلاع‌رسانی می‌کند.

با توجه به علاقه‌مندی‌ها و تجربیاتم در برنامه‌نویسی و هوش مصنوعی، هدف من ارائه خدماتی با کیفیت و مفید به جامعه تکنولوژی است. </em></p>


                <div class="cleaner_h20"></div>

                <div class="cleaner"></div>
            </div>
{##}
{#            <div class="last_content_box">#}
{#                <h2>Services</h2>#}
{#                <p>Morbi mollis aliquam condimentum. Nulla laoreet tellus a elit tristique auctor. Proin enim leo, consequat eget mattis sit amet, porta varius arcu. Aenean ac lorem nec dolor placerat tempor. Nulla facilisi. Mauris blandit euismod lobortis. Nam dolor odio, posuere ut luctus eu, congue a quam.</p>#}
{#                <div class="cleaner h40"></div>#}
{##}
{#                <div class="service_box">#}
{#                    <img src="{% static "images/onebit_15.png" %}" alt="Service 1" />#}
{#                    <div class="sb_right">#}
{#                    <h4>Service One</h4>#}
{#                    <p>Credit goes to <a href="http://www.icojoy.com/articles/46/" target="_blank">Icojoy.com</a> for icons. Morbi sed nulla ac est cursus suscipit. Nullam consectetur posuere porta. Aliquam laoreet, libero ac placerat  tempor.</p>#}
{##}
{#                    <ul class="tmo_list">#}
{#                        <li>Vestibulum pretium convallis diam sit amet </li>#}
{#                        <li>Donec consequat, lacus eget accumsan volutpat</li>#}
{#                        <li>Fusce sem nulla, rutrum ac suscipit eget vitae</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="cleaner"></div>#}
{#                <a href="#" class="more float_r">Read more</a>#}
{#                <div class="cleaner"></div>#}
{#                </div>#}
{##}
{#                <div class="service_box">#}
{##}
{#                <img src="{% static "images/onebit_16.png" %}" alt="Service 2" />#}
{#                <div class="sb_right">#}
{#                <h4>Service Two</h4>#}
{#                <p>Integer consectetur enim eget diam tincidunt vehicula. Aenean scelerisque tellus vitae tortor placerat egestas.</p>#}
{##}
{#                <ul class="tmo_list">#}
{#                <li>Praesent lacus metus, aliquet sit </li>#}
{#                <li>Nunc eget turpis mattis nisi auctor</li>#}
{#                <li>Vestibulum pharetra tortor vitae velit </li>#}
{#                </ul>#}
{#                </div>#}
{#                <div class="cleaner"></div>#}
{#                <a href="#" class="more float_r">Read more</a>#}
{#                <div class="cleaner"></div>#}
{#                </div>#}
{##}
{#            </div>#}

        {% endblock content %}
