<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blue Marble Company</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 316 blue marble -->
<!-- 
Blue Marble Template 
http://www.templatemo.com/preview/templatemo_316_blue_marble 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    
    	<div id="site_title">
            <a href="#"><span>YOUR TAGLINE GOES HERE</span></a>
        </div> <!-- end of site_title -->
        
        <div id="social_box">
        	<a href="#"><img src="images/stumbleupon.png" alt="stumbleupon" /></a>
            <a href="#"><img src="images/digg.png" alt="digg" /></a>
            <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
            <a href="#"><img src="images/feed.png" alt="feed" /></a>
        </div>
        
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html" class="current">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="templatemo_main_wrapper">
	<div id="templatemo_main">
    
    	<div id="templatemo_content">
        
            <div class="content_box">
                <h2>About Us</h2>
                <div class="image_wrapper image_fl"><img src="images/templatemo_image_01.jpg" alt="Image 1" /></div>
                <p><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem.</em></p>
                <p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. Fusce venenatis consequat lacinia. Vivamus elit erat, tincidunt eget scelerisque vitae, aliquet non purus.</p>
                
                <div class="cleaner_h20"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
            </div>
            
            <div class="last_content_box">
                <h2>Services</h2>
                <p>Morbi mollis aliquam condimentum. Nulla laoreet tellus a elit tristique auctor. Proin enim leo, consequat eget mattis sit amet, porta varius arcu. Aenean ac lorem nec dolor placerat tempor. Nulla facilisi. Mauris blandit euismod lobortis. Nam dolor odio, posuere ut luctus eu, congue a quam.</p>
                <div class="cleaner h40"></div>
                
                <div class="service_box">
                    <img src="images/onebit_15.png" alt="Service 1" />
                    <div class="sb_right">
                    <h4>Service One</h4>
                    <p>Credit goes to <a href="http://www.icojoy.com/articles/46/" target="_blank">Icojoy.com</a> for icons. Morbi sed nulla ac est cursus suscipit. Nullam consectetur posuere porta. Aliquam laoreet, libero ac placerat  tempor.</p>
                    
                    <ul class="tmo_list">
                        <li>Vestibulum pretium convallis diam sit amet </li>
                        <li>Donec consequat, lacus eget accumsan volutpat</li>
                        <li>Fusce sem nulla, rutrum ac suscipit eget vitae</li>
                    </ul>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
                </div>
                
                <div class="service_box">
                
                <img src="images/onebit_16.png" alt="Service 2" />
                <div class="sb_right">
                <h4>Service Two</h4>
                <p>Integer consectetur enim eget diam tincidunt vehicula. Aenean scelerisque tellus vitae tortor placerat egestas.</p>
                
                <ul class="tmo_list">
                <li>Praesent lacus metus, aliquet sit </li>
                <li>Nunc eget turpis mattis nisi auctor</li>
                <li>Vestibulum pharetra tortor vitae velit </li>                
                </ul>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
                </div>
            
            </div>
        	
        </div> <!-- end of content -->
        
        <div id="templatemo_sidebar">
        	<div class="sidebar_box">
				<a href="#"><img src="images/templatemo_ads.jpg" alt="banner" /></a>
            </div>  
        	
            <div class="sidebar_box">
            	<h4>Categories</h4>
                <ul class="tmo_list">
                    <li><a href="index.html">Aenean lacinia justo convallis neque</a></li>
                    <li><a href="index.html">Curabitur eget orci sed sapien et</a></li>
                    <li><a href="index.html">Donec tincidunt nibh eu purus</a></li>
                    <li><a href="index.html">Nam in odio et justo lacinia lobortis</a></li>
                    <li><a href="index.html">Phasellus ut nisl diam, nec ultrices</a></li>
                    <li><a href="index.html">Quisque et ante ligula varius semper</a></li>
                </ul>
            </div>
            
            <div class="sidebar_box">
            	<h4>Recent comments</h4>
                <div class="recent_comment_box">
                    <a href="#">Lorem ipsum dolor si</a>
                    <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium.</p>
                </div>
                
                <div class="recent_comment_box">
                    <a href="#">Aenean feugiat mattis </a>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
                
                <div class="recent_comment_box last_recent_comment_box">
                    <a href="#">Lacus enim id lacinia in</a>
                    <p>Curabitur ullamcorper ultricies nisi.  Nam eget dui. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                </div>
            </div>
        </div>
    
    <div class="cleaner"></div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	
        <div class="footer_col_w300">
            <h4>Our Pages</h4>
            <ul class="tmo_list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300">
            <h4>Our Resources</h4>
            <ul class="tmo_list">
                <li><a href="#">Donec elementum urna et justo</a></li>
                <li><a href="#">Fusce ullamcorper metus quis felis</a></li>
                <li><a href="#">Phasellus aliquet viverra posuere</a></li>
                <li><a href="#">Sed vel tellus a turpis mollis auctor</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300 last">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue urna, vehicula sed cursus a, faucibus vel sem. Nam aliquet arcu quis dolor porttitor quis luctus nisl dictum.</p>
            <p>Copyright © 2048 <a href="#">Your Company Name</a> <br /></p>       
        </div>
    
    	<div class="cleaner"></div>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_footer wrapper -->

</body>
</html>