{% extends 'base.html' %}
{% load static %}


        {% block content %}

            <div class="content_box">
                <h2>About Us</h2>
                <div class="image_wrapper image_fl"><img src="{% static "images/templatemo_image_01.jpg" %}" alt="Image 1" /></div>
                <p><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem.</em></p>
                <p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. Fusce venenatis consequat lacinia. Vivamus elit erat, tincidunt eget scelerisque vitae, aliquet non purus.</p>

                <div class="cleaner_h20"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
            </div>

            <div class="last_content_box">
                <h2>Services</h2>
                <p>Morbi mollis aliquam condimentum. Nulla laoreet tellus a elit tristique auctor. Proin enim leo, consequat eget mattis sit amet, porta varius arcu. Aenean ac lorem nec dolor placerat tempor. Nulla facilisi. Mauris blandit euismod lobortis. Nam dolor odio, posuere ut luctus eu, congue a quam.</p>
                <div class="cleaner h40"></div>

                <div class="service_box">
                    <img src="{% static "images/onebit_15.png" %}" alt="Service 1" />
                    <div class="sb_right">
                    <h4>Service One</h4>
                    <p>Credit goes to <a href="http://www.icojoy.com/articles/46/" target="_blank">Icojoy.com</a> for icons. Morbi sed nulla ac est cursus suscipit. Nullam consectetur posuere porta. Aliquam laoreet, libero ac placerat  tempor.</p>

                    <ul class="tmo_list">
                        <li>Vestibulum pretium convallis diam sit amet </li>
                        <li>Donec consequat, lacus eget accumsan volutpat</li>
                        <li>Fusce sem nulla, rutrum ac suscipit eget vitae</li>
                    </ul>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
                </div>

                <div class="service_box">

                <img src="{% static "images/onebit_16.png" %}" alt="Service 2" />
                <div class="sb_right">
                <h4>Service Two</h4>
                <p>Integer consectetur enim eget diam tincidunt vehicula. Aenean scelerisque tellus vitae tortor placerat egestas.</p>

                <ul class="tmo_list">
                <li>Praesent lacus metus, aliquet sit </li>
                <li>Nunc eget turpis mattis nisi auctor</li>
                <li>Vestibulum pharetra tortor vitae velit </li>
                </ul>
                </div>
                <div class="cleaner"></div>
                <a href="#" class="more float_r">Read more</a>
                <div class="cleaner"></div>
                </div>

            </div>

        {% endblock content %}
