{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}    {% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!-- templatemo 316 blue marble -->
    <!--
    Blue Marble Template
    http://www.templatemo.com/preview/templatemo_316_blue_marble
    -->
    <link rel="stylesheet" href="{% static 'templatemo_style.css' %}">
    <link rel="stylesheet" href="{% static 'nivo-slider.css' %}">

            {% block head %}

            {% endblock head %}
    <script src="{% static 'js/jquery.min.js' %}" type=""></script>
    <script src="{% static 'js/jquery.nivo.slider.js' %}" type=""></script>


    {#<link href="templatemo_style.css" rel="stylesheet" type="text/css" />#}

    {#<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />#}
    {#<script src="js/jquery.min.js" type="text/javascript"></script>#}
    {#<script src="js/jquery.nivo.slider.js" type="text/javascript"></script>#}

    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: 'random',
                slices: 15,
                animSpeed: 600,
                pauseTime: 2400,
                startSlide: 0, //Set starting Slide (0 index)
                directionNav: false,
                directionNavHide: false, //Only show on hover
                controlNav: false, //1,2,3...
                controlNavThumbs: false, //Use thumbnails for Control Nav
                pauseOnHover: true, //Stop animation while hovering
                manualAdvance: false, //Force manual transitions
                captionOpacity: 0.7, //Universal caption opacity
                beforeChange: function () {
                },
                afterChange: function () {
                },
                slideshowEnd: function () {
                } //Triggers after all slides have been shown
            });
        });
    </script>

</head>
<body>

<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_title">
            <a href="#"><span></span></a>
        </div> <!-- end of site_title -->

        <div id="social_box">
            <a href="#"><img src="{% static "images/digg.png" %}" alt="digg"/></a>
            <a href="#"><img src="{% static "images/facebook.png" %}" alt="facebook"/></a>
            <a href="#"><img src="{% static "images/twitter.png" %}" alt="twitter"/></a>
            <a href="#"><img src="{% static "images/feed.png" %}" alt="feed"/></a>
        </div>

        <div id="templatemo_menu">
            <ul>
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'about' %}">درباره ما</a></li>
                <li><a href="{% url 'site_list' %}">سایتهای شگفت انگیز</a></li>
                <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
            </ul>
        </div> <!-- end of templatemo_menu -->

    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->


<div id="templatemo_main_wrapper">
    <div id="templatemo_main">

        <div id="templatemo_content">


            {% block content %}

            {% endblock content %}

        </div>

        <div id="templatemo_sidebar">
            <div class="sidebar_box">
                <a href="#"><img src="{% static "images/templatemo_ads.jpg" %}" alt="banner"/></a></div>


            <div class="sidebar_box">
                <h4>طبقه بندی</h4>
                <ul class="tmo_list">
                    <li><a href="{% url 'site_list' %}">سایتهای شگفت انگیز</a></li>
                    <li><a href="{% url 'article_list' %}">مقالات</a></li>
                    <li><a href="index.html"> coming soon</a></li>
                </ul>
            </div>

            <div class="sidebar_box">
                <h4>کامنت های شما</h4>
{#                <div class="recent_comment_box">#}
{#                    <a href="#">Lorem ipsum dolor si</a>#}
{#                    <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium.</p>#}
{#                </div>#}
{##}
{#                <div class="recent_comment_box">#}
{#                    <a href="#">Aenean feugiat mattis </a>#}
{#                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>#}
{#                </div>#}

                <div class="recent_comment_box last_recent_comment_box">
                    <a href="#"> به زودی </a>
                    <p>دراین قسمت منتظر پیامهای زیبای شما هستیم  <a
                            href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong></strong></a>
                        &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer"
                                 rel="nofollow"><strong></strong></a>.</p>
                </div>
            </div>
        </div>

        <div class="cleaner"></div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">

        <div class="footer_col_w300">
            <h4>صفحات ما</h4>
            <ul class="tmo_list">
                <li><a href="{% url 'home' %}">خانه</a></li>
                <li><a href="{% url 'about' %}">درباره ما</a></li>
                <li><a href="{% url 'site_list' %}">سایتهای شگفت انگیز</a></li>
                <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
            </ul>
        </div>

        <div class="footer_col_w300">
            <h4>تماس با ما</h4>
            <ul class="tmo_list">
                <li><a href="#">منتظر پیشنهادات ارزشمند شما هستم</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Phasellus aliquet viverra posuere</a></li>
                <li><a href="#">Sed vel tellus a turpis mollis auctor</a></li>
            </ul>
        </div>

        <div class="footer_col_w300 last">
            <h4>درباره ما</h4>
            <p>سلام، من آرین تهامی هستم. به عنوان یک علاقه‌مند به تکنولوژی‌های جدید، به برنامه‌نویسی روی آورده‌ام و با زبان‌های برنامه‌نویسی پایتون، اچ‌تی‌ام‌ال و سی‌اس‌اس آشنایی دارم. در حال حاضر در شهر مشهد ایران زندگی می‌کنم و فعالیت‌هایم را در گیت‌هاب و لینکداین انجام می‌دهم. علاقه‌مندی‌هایم در دنیای</p>
            <p>Copyright © 2048 <a href="#">Your Company Name</a> <br/></p>
        </div>

        <div class="cleaner"></div>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_footer wrapper -->

</body>
</html>