<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blue Marble Blog Post</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 316 blue marble -->
<!-- 
Blue Marble Template 
http://www.templatemo.com/preview/templatemo_316_blue_marble 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    
    	<div id="site_title">
            <a href="#"><span>YOUR TAGLINE GOES HERE</span></a>
        </div> <!-- end of site_title -->
        
        <div id="social_box">
        	<a href="#"><img src="images/stumbleupon.png" alt="stumbleupon" /></a>
            <a href="#"><img src="images/digg.png" alt="digg" /></a>
            <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
            <a href="#"><img src="images/feed.png" alt="feed" /></a>
        </div>
        
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="templatemo_main_wrapper">
	<div id="templatemo_main">
    
    	<div id="templatemo_content">
        
        	<div class="post_box">
            	<a href="#">CSS Templates</a>, <a href="#">Web Design</a>
                <h2>Aliquam lorem ante dapibus in viverra </h2>
                
                <div class="post_meta"><strong>Date:</strong> May 24, 2048 | <strong>Author:</strong> Vinlati | <a href="blog_post.html">128 comments</a></div>
                <img src="images/templatemo_image_01.jpg" alt="Image 1" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus egestas diam quis dapibus. Quisque sed mauris velit, a congue lorem. Aliquam quis mi sed libero dapibus iaculis a et mi. Vestibulum posuere auctor orci et accumsan. Aliquam pellentesque dui eleifend velit eleifend et viverra nisi feugiat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus consequat id hendrerit ipsum molestie. Morbi quis lorem tellus. Curabitur vitae risus sem. Mauris venenatis quam non nunc convallis tincidunt. Aliquam tempus neque nec nisl pellentesque nec dignissim lorem cursus. Integer cursus ultrices massa non vehicula. Etiam vitae lacus eu arcu rutrum fermentum. Nullam fringilla imperdiet magna, id sagittis nisl feugiat at. Donec eget lacus eros, et blandit odio. Maecenas et urna vitae sapien dictum dapibus. Aliquam id sem metus. Aenean sapien felis, congue porttitor elementum quis, pretium sit amet urna. Curabitur libero sapien, sollicitudin in pellentesque id, auctor id nisl.</p>
                
                <p>Maecenas elementum, purus vitae hendrerit dictum, magna dolor interdum lacus, sit amet lobortis urna ligula id lacus. Maecenas quis venenatis eros. Nulla sagittis elit in enim ullamcorper vitae tincidunt metus bibendum. Mauris pulvinar purus porta justo cursus eget ultricies lectus luctus.</p>
		  </div>
            
            <h3>Comments</h3>

			<div id="comment_section">
                	<ol class="comments first_level">
                        
                        <li>
                            <div class="comment_box commentbox1">
                                    
                                <div class="gravatar">
                                    <img src="images/avator.png" alt="author" />
                                </div>
                                
                                <div class="comment_text">
                                    <div class="comment_author">Dave<span class="date">May 27th, 2048</span><span class="time">1:29 pm</span></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risusLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>
                                <div class="cleaner"></div>
                            </div>                                                   
                        </li>
                        
                        <li>
                                               
                            	<ol class="comments">
                            
                                    <li>
                                        <div class="comment_box commentbox2">
                                        
                                        <div class="gravatar">
                                        <img src="images/avator.png" alt="author" />
                                        </div>
                                        <div class="comment_text">
                                        <div class="comment_author">Valentine<span class="date">May 29th, 2048</span><span class="time">2:09 am</span></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                       	<div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                        </div>
                                        
                                        <div class="cleaner"></div>
                                        </div>                        
                                                                       
                                    </li>
                                    
                                    <li>
                                                               
                                        <ol class="comments">
                                    
                                            <li>
                                                <div class="comment_box commentbox1">
                                                
                                                    <div class="gravatar">
                                                        <img src="images/avator.png" alt="author" />
                                                    </div>
                                                    <div class="comment_text">
                                                        <div class="comment_author">Mike<span class="date">May 29th, 2048</span><span class="time">4:21 am</span></div>
                                                        <p>Suspendisse sed nisi magna, sed molestie nibh. Nam non diam at augue lacinia condimentum. </p>
                                                        <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                                    </div>
                                                    
                                                    <div class="cleaner"></div>
                                                </div>                                                                      
                                                
                                            </li>
                                    
                                        </ol>
                        
                        			</li>
                                </ol>
                                
						</li>
                        
                        <li>
                            <div class="comment_box commentbox1">
                                    
                                     
                                <div class="gravatar">
                                    <img src="images/avator.png" alt="author" />
                                </div>
                                <div class="comment_text">
                                    <div class="comment_author">Magret<span class="date">May 30th, 2048</span><span class="time">5:20 pm</span></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>
                                
                                <div class="cleaner"></div>
                            </div>                                                  
                            
                        </li>
                        
                        <li>
                            <div class="comment_box commentbox1">
                                    
                                <div class="gravatar">
                                    <img src="images/avator.png" alt="author" />
                                </div>
                                <div class="comment_text">
                                    <div class="comment_author">Olivia<span class="date">May 31st, 2048</span><span class="time">11:29 am</span></div>
                                    <p>Sed volutpat urna vitae sapien sodales pellentesque.</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>
                                
                                <div class="cleaner"></div>
                            </div>                        
                                                       
                        </li>
                        
                    </ol>
            </div> <!-- end of comment -->
        	
			<div id="comment_form">
                    <h3>Leave your comment</h3>
                    
                        <form action="#" method="post">
                        
                            <div class="form_row">
                            <label>Name (* required)</label>
                            <br />
                            <input name="name" type="text" class="input_field" maxlength="40" />
                            </div>
                            <div class="form_row">
                            <label>Email (* required)</label>
                            <br />
                            <input name="name" type="text" class="input_field" maxlength="40" />
                            </div>
                            <div class="form_row">
                            <label>Comment</label><br />
                            <textarea  name="comment" rows="" cols="" class="input_field"></textarea>
                            </div>
                                                       
                            <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                            
                        </form>                    
                    
            </div>
        </div> <!-- end of content -->
        
        <div id="templatemo_sidebar">
        	<div class="sidebar_box">
				<a href="#"><img src="images/templatemo_ads.jpg" alt="banner" /></a>
            </div>  
        	
            <div class="sidebar_box">
            	<h4>Categories</h4>
                <ul class="tmo_list">
                    <li><a href="index.html">Aenean lacinia justo convallis neque</a></li>
                    <li><a href="index.html">Curabitur eget orci sed sapien et</a></li>
                    <li><a href="index.html">Donec tincidunt nibh eu purus</a></li>
                    <li><a href="index.html">Nam in odio et justo lacinia lobortis</a></li>
                    <li><a href="index.html">Phasellus ut nisl diam, nec ultrices</a></li>
                    <li><a href="index.html">Quisque et ante ligula varius semper</a></li>
                </ul>
            </div>
            
            <div class="sidebar_box">
            	<h4>Recent comments</h4>
                <div class="recent_comment_box">
                    <a href="#">Lorem ipsum dolor si</a>
                    <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium porta.</p>
                </div>
                
                <div class="recent_comment_box">
                    <a href="#">Aenean feugiat mattis </a>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
                
                <div class="recent_comment_box last_recent_comment_box">
                    <a href="#"> Lacus enim id lacinia in</a>
                    <p>Curabitur ullamcorper ultricies nisi.  Nam eget dui.  Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                </div>
            </div>
        </div>
    
		<div class="cleaner"></div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
        
		<div class="footer_col_w300">
            <h4>Our Pages</h4>
            <ul class="tmo_list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300">
            <h4>Our Resources</h4>
            <ul class="tmo_list">
                <li><a href="#">Donec elementum urna et justo</a></li>
                <li><a href="#">Fusce ullamcorper metus quis felis</a></li>
                <li><a href="#">Phasellus aliquet viverra posuere</a></li>
                <li><a href="#">Sed vel tellus a turpis mollis auctor</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300 last">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue urna, vehicula sed cursus a, faucibus vel sem. Nam aliquet arcu quis dolor porttitor quis luctus nisl dictum.</p>
            <p>Copyright © 2048 <a href="#">Your Company Name</a> <br /></p>
        </div>
    
		<div class="cleaner"></div>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_footer wrapper -->

</body>
</html>