{% extends 'base.html' %}
{% load static %}

        {% block content %}

        	<div class="post_box">
            	<a href="#">CSS Templates</a>, <a href="#">Web Design</a>
                <h2>Aliquam lorem ante dapibus in viverra </h2>

                <div class="post_meta"><strong>Date:</strong> May 24, 2048 | <strong>Author:</strong> Vinlati | <a href="blog_post.html">128 comments</a></div>
                <img src="{% static "images/templatemo_image_01.jpg" %}" alt="Image 1" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus egestas diam quis dapibus. Quisque sed mauris velit, a congue lorem. Aliquam quis mi sed libero dapibus iaculis a et mi. Vestibulum posuere auctor orci et accumsan. Aliquam pellentesque dui eleifend velit eleifend et viverra nisi feugiat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus consequat id hendrerit ipsum molestie. Morbi quis lorem tellus. Curabitur vitae risus sem. Mauris venenatis quam non nunc convallis tincidunt. Aliquam tempus neque nec nisl pellentesque nec dignissim lorem cursus. Integer cursus ultrices massa non vehicula. Etiam vitae lacus eu arcu rutrum fermentum. Nullam fringilla imperdiet magna, id sagittis nisl feugiat at. Donec eget lacus eros, et blandit odio. Maecenas et urna vitae sapien dictum dapibus. Aliquam id sem metus. Aenean sapien felis, congue porttitor elementum quis, pretium sit amet urna. Curabitur libero sapien, sollicitudin in pellentesque id, auctor id nisl.</p>

                <p>Maecenas elementum, purus vitae hendrerit dictum, magna dolor interdum lacus, sit amet lobortis urna ligula id lacus. Maecenas quis venenatis eros. Nulla sagittis elit in enim ullamcorper vitae tincidunt metus bibendum. Mauris pulvinar purus porta justo cursus eget ultricies lectus luctus.</p>
		  </div>

            <h3>Comments</h3>

			<div id="comment_section">
                	<ol class="comments first_level">

                        <li>
                            <div class="comment_box commentbox1">

                                <div class="gravatar">
                                    <img src="{% static "images/avator.png" %}" alt="author" />
                                </div>

                                <div class="comment_text">
                                    <div class="comment_author">Dave<span class="date">May 27th, 2048</span><span class="time">1:29 pm</span></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risusLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>
                                <div class="cleaner"></div>
                            </div>
                        </li>

                        <li>

                            	<ol class="comments">

                                    <li>
                                        <div class="comment_box commentbox2">

                                        <div class="gravatar">
                                        <img src="{% static "images/avator.png" %}" alt="author" />
                                        </div>
                                        <div class="comment_text">
                                        <div class="comment_author">Valentine<span class="date">May 29th, 2048</span><span class="time">2:09 am</span></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                       	<div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                        </div>

                                        <div class="cleaner"></div>
                                        </div>

                                    </li>

                                    <li>

                                        <ol class="comments">

                                            <li>
                                                <div class="comment_box commentbox1">

                                                    <div class="gravatar">
                                                        <img src="{% static "images/avator.png" %}" alt="author" />
                                                    </div>
                                                    <div class="comment_text">
                                                        <div class="comment_author">Mike<span class="date">May 29th, 2048</span><span class="time">4:21 am</span></div>
                                                        <p>Suspendisse sed nisi magna, sed molestie nibh. Nam non diam at augue lacinia condimentum. </p>
                                                        <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                                    </div>

                                                    <div class="cleaner"></div>
                                                </div>

                                            </li>

                                        </ol>

                        			</li>
                                </ol>

						</li>

                        <li>
                            <div class="comment_box commentbox1">


                                <div class="gravatar">
                                    <img src="{% static "images/avator.png" %}" alt="author" />
                                </div>
                                <div class="comment_text">
                                    <div class="comment_author">Magret<span class="date">May 30th, 2048</span><span class="time">5:20 pm</span></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum ornare nulla ac laoreet. Phasellus mattis tellus eu risus</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>

                                <div class="cleaner"></div>
                            </div>

                        </li>

                        <li>
                            <div class="comment_box commentbox1">

                                <div class="gravatar">
                                    <img src="{% static "images/avator.png" %}" alt="author" />
                                </div>
                                <div class="comment_text">
                                    <div class="comment_author">Olivia<span class="date">May 31st, 2048</span><span class="time">11:29 am</span></div>
                                    <p>Sed volutpat urna vitae sapien sodales pellentesque.</p>
                                    <div class="btn_more float_r"><a href="#"><span>+</span> Reply</a></div>
                                </div>

                                <div class="cleaner"></div>
                            </div>

                        </li>

                    </ol>
            </div> <!-- end of comment -->

			<div id="comment_form">
                    <h3>Leave your comment</h3>

                        <form action="#" method="post">

                            <div class="form_row">
                            <label>Name (* required)</label>
                            <br />
                            <input name="name" type="text" class="input_field" maxlength="40" />
                            </div>
                            <div class="form_row">
                            <label>Email (* required)</label>
                            <br />
                            <input name="name" type="text" class="input_field" maxlength="40" />
                            </div>
                            <div class="form_row">
                            <label>Comment</label><br />
                            <textarea  name="comment" rows="" cols="" class="input_field"></textarea>
                            </div>

                            <input type="submit" name="Submit" value="Submit" class="submit_btn" />

                        </form>

            </div>

        {% endblock content %}


