{% extends 'base.html' %}
{% load static %}

        {% block content %}


        	<h2>Our Gallery</h2>
            <p>Credit goes to <a href="http://www.pirolab.it" target="_blank"> Diego Valobra</a> for piroxbox. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus rutrum tellus at varius. Ut sit amet arcu elit, in posuere arcu. Phasellus in sapien vel felis imperdiet ullamcorper.</p>

            <div class="cleaner h40"></div>

            <div id="gallery">
				<div class="gallery_box">
					<a href="{% static "images/gallery/image_01_b.jpg" %}" class="pirobox gallery_img image_wrapper" title="Project 1"><img src="{% static "images/gallery/image_01.jpg" %}" alt="Image 1" /></a>
                    <div class="right">
                    	<h5>Project 1</h5>
                        <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus egestas diam quis dapibus.</em></p>
                        <p>Quisque sed mauris velit, a congue lorem. Aliquam quis mi sed libero dapibus iaculis a et mi. Egestas diam quis dapibus. Quisque sed mauris velit, a congue lorem. </p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>

                <div class="gallery_box">
					<a href="{% static "images/gallery/image_02_b.jpg" %}" class="pirobox gallery_img image_wrapper" title="Project 2"><img src="{% static "images/gallery/image_02.jpg" %}" alt="Image 2" /></a>
                    <div class="right">
                    	<h5>Project 2</h5>
                        <p><em>Cras id tortor nisl. Nullam ante diam, interdum sit amet. Velit justo sodales lectus, ac porta nunc eros vitae.</em></p>
                        <p>Maecenas eros ipsum, tincidunt vitae ultricies id, blandit quis nulla. Fusce sem nulla, rutrum ac suscipit eget, commodo vitae est. In at orci arcu.</p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>

                <div class="gallery_box last_gallery_box">
					<a href="{% static "images/gallery/image_03_b.jpg" %}" class="pirobox gallery_img image_wrapper" title="Project 3"><img src="{% static "images/gallery/image_03.jpg" %}" alt="Image 3" /></a>
                    <div class="right">
                    	<h5>Project 3</h5>
                        <p><em>Integer consectetur enim eget diam tincidunt vehicula. Cras id tortor nisl. Nullam ante diam, interdum sit amet.</em></p>
                          <p>Sodales nec, mollis lobortis sapien. Vestibulum pharetra tortor vitae velit pretium rhoncus integer consectetur enim eget. Nam eget dui. Etiam rhoncus.</p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>
            </div> <!-- end of gallery -->

        {% endblock content %}

