<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Blue Marble Gallery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 316 blue marble -->
<!-- 
Blue Marble Template 
http://www.templatemo.com/preview/templatemo_316_blue_marble 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<!--////// CHOOSE ONE OF THE 3 PIROBOX STYLES  \\\\\\\-->
<link href="css_pirobox/white/style.css" media="screen" title="shadow" rel="stylesheet" type="text/css" />
<!--<link href="css_pirobox/white/style.css" media="screen" title="white" rel="stylesheet" type="text/css" />
<link href="css_pirobox/black/style.css" media="screen" title="black" rel="stylesheet" type="text/css" />-->
<!--////// END  \\\\\\\-->

<!--////// INCLUDE THE JS AND PIROBOX OPTION IN YOUR HEADER  \\\\\\\-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/piroBox.1_2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$().piroBox({
			my_speed: 600, //animation speed
			bg_alpha: 0.5, //background opacity
			radius: 4, //caption rounded corner
			scrollImage : false, // true == image follows the page, false == image remains in the same open position
			pirobox_next : 'piro_next', // Nav buttons -> piro_next == inside piroBox , piro_next_out == outside piroBox
			pirobox_prev : 'piro_prev',// Nav buttons -> piro_prev == inside piroBox , piro_prev_out == outside piroBox
			close_all : '.piro_close',// add class .piro_overlay(with comma)if you want overlay click close piroBox
			slideShow : 'slideshow', // just delete slideshow between '' if you don't want it.
			slideSpeed : 4 //slideshow duration in seconds(3 to 6 Recommended)
	});
});
</script>
<!--////// END  \\\\\\\-->

</head>
<body>

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    
    	<div id="site_title">
            <a href="#"><span>YOUR TAGLINE GOES HERE</span></a>
        </div> <!-- end of site_title -->
        
        <div id="social_box">
        	<a href="#"><img src="images/stumbleupon.png" alt="stumbleupon" /></a>
            <a href="#"><img src="images/digg.png" alt="digg" /></a>
            <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
            <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
            <a href="#"><img src="images/feed.png" alt="feed" /></a>
        </div>
        
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html" class="current">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    	
        </div> <!-- end of templatemo_menu -->
    
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="templatemo_main_wrapper">
	<div id="templatemo_main">
    
    	<div id="templatemo_content">
        
        	<h2>Our Gallery</h2>
            <p>Credit goes to <a href="http://www.pirolab.it" target="_blank"> Diego Valobra</a> for piroxbox. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus rutrum tellus at varius. Ut sit amet arcu elit, in posuere arcu. Phasellus in sapien vel felis imperdiet ullamcorper.</p>
                    
            <div class="cleaner h40"></div>
                
            <div id="gallery">
				<div class="gallery_box">
					<a href="images/gallery/image_01_b.jpg" class="pirobox gallery_img image_wrapper" title="Project 1"><img src="images/gallery/image_01.jpg" alt="Image 1" /></a>
                    <div class="right">
                    	<h5>Project 1</h5>
                        <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus egestas diam quis dapibus.</em></p>		
                        <p>Quisque sed mauris velit, a congue lorem. Aliquam quis mi sed libero dapibus iaculis a et mi. Egestas diam quis dapibus. Quisque sed mauris velit, a congue lorem. </p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>
                
                <div class="gallery_box">
					<a href="images/gallery/image_02_b.jpg" class="pirobox gallery_img image_wrapper" title="Project 2"><img src="images/gallery/image_02.jpg" alt="Image 2" /></a>
                    <div class="right">
                    	<h5>Project 2</h5>
                        <p><em>Cras id tortor nisl. Nullam ante diam, interdum sit amet. Velit justo sodales lectus, ac porta nunc eros vitae.</em></p>
                        <p>Maecenas eros ipsum, tincidunt vitae ultricies id, blandit quis nulla. Fusce sem nulla, rutrum ac suscipit eget, commodo vitae est. In at orci arcu.</p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>
                
                <div class="gallery_box last_gallery_box">
					<a href="images/gallery/image_03_b.jpg" class="pirobox gallery_img image_wrapper" title="Project 3"><img src="images/gallery/image_03.jpg" alt="Image 3" /></a>
                    <div class="right">
                    	<h5>Project 3</h5>
                        <p><em>Integer consectetur enim eget diam tincidunt vehicula. Cras id tortor nisl. Nullam ante diam, interdum sit amet.</em></p>
                          <p>Sodales nec, mollis lobortis sapien. Vestibulum pharetra tortor vitae velit pretium rhoncus integer consectetur enim eget. Nam eget dui. Etiam rhoncus.</p>
                        <a href="#" class="more float_r">Visit site</a>
					</div>
                    <div class="cleaner"></div>
				</div>
            </div> <!-- end of gallery -->
        	
        </div> <!-- end of content -->
        
        <div id="templatemo_sidebar">
        	<div class="sidebar_box">
				<a href="#"><img src="images/templatemo_ads.jpg" alt="banner" /></a>
            </div>  
        	
            <div class="sidebar_box">
            	<h4>Categories</h4>
                <ul class="tmo_list">
                    <li><a href="index.html">Aenean lacinia justo convallis neque</a></li>
                    <li><a href="index.html">Curabitur eget orci sed sapien et</a></li>
                    <li><a href="index.html">Donec tincidunt nibh eu purus</a></li>
                    <li><a href="index.html">Nam in odio et justo lacinia lobortis</a></li>
                    <li><a href="index.html">Phasellus ut nisl diam, nec ultrices</a></li>
                    <li><a href="index.html">Quisque et ante ligula varius semper</a></li>
                </ul>
            </div>
            
            <div class="sidebar_box">
            	<h4>Recent comments</h4>
                <div class="recent_comment_box">
                    <a href="#">Lorem ipsum dolor si</a>
                    <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium.</p>
                </div>
                
                <div class="recent_comment_box">
                    <a href="#">Aenean feugiat mattis </a>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
                
                <div class="recent_comment_box last_recent_comment_box">
                    <a href="#"> Lacus enim id lacinia in</a>
                    <p>Curabitur ullamcorper ultricies nisi.  Nam eget dui. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                </div>
            </div>
        </div> <!-- end of sidebar -->
    
		<div class="cleaner"></div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	
        <div class="footer_col_w300">
            <h4>Our Pages</h4>
            <ul class="tmo_list">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300">
            <h4>Our Resources</h4>
            <ul class="tmo_list">
                <li><a href="#">Donec elementum urna et justo</a></li>
                <li><a href="#">Fusce ullamcorper metus quis felis</a></li>
                <li><a href="#">Phasellus aliquet viverra posuere</a></li>
                <li><a href="#">Sed vel tellus a turpis mollis auctor</a></li>
            </ul>            
        </div>
        
        <div class="footer_col_w300 last">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue urna, vehicula sed cursus a, faucibus vel sem. Nam aliquet arcu quis dolor porttitor quis luctus nisl dictum.</p>
            <p>Copyright © 2048 <a href="#">Your Company Name</a> <br /></p>     
        </div>
    
		<div class="cleaner"></div>
    </div> <!-- end of templatemo_footer -->
</div> <!-- end of templatemo_footer wrapper -->

</body>
</html>