{% extends 'base.html' %}
{% load static %}





{% block content %}

    <div id="homepage_slider">
        <div id="slider">
            <a href="#"><img src="{% static "images/slideshow/01.jpg" %}" alt="Image 1"
                             title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."/></a>
            <a href="#"><img src="{% static "images/slideshow/02.jpg" %}" alt="Image 2"
                             title="Nullam ante leo, consectetur eget adipiscing et."/></a>
            <a href="#"><img src="{% static "images/slideshow/03.jpg" %}" alt="Image 3"
                             title="Suspendisse sit amet enim elit. Curabitur tempor consequat."/></a>
            <a href="#"><img src="{% static "images/slideshow/04.jpg" %}" alt="Image 4"
                             title="Nulla faucibus luctus quam eget placerat. "/></a>
            <a href="#"><img src="{% static "images/slideshow/05.jpg" %}" alt="Image 5"
                             title="Phasellus aliquet viverra posuere. "/></a>
        </div>
    </div>

{#    <div class="post_box">#}
{#        		<a href="#"><img src="{% static "images/templatemo_image_01.jpg" %}" alt="Image 1" /></a>#}
{#          <div class="post_box_right">#}
{#                    <a href="#">Illustrations</a>, <a href="#">Graphics</a>#}
{#					<h2>Wed Design Tips</h2>#}
{#					<div class="post_meta"><strong>Date:</strong> May 28, 2048 | <strong>Author:</strong> Thomas | <a href="blog_post.html">128 comments</a></div>#}
{#                    <p><a href="#">Blue Marble</a> is free css template for your personal or commercial websites. Credits go to <a rel="nofollow" href="http://www.photovaco.com">PhotoVaco</a> for photos, <a rel="nofollow" href="http://www.brusheezy.com/textures/2433-Dying-Ice">Dying Ice</a> for Texture, <a href="http://jwloh.deviantart.com/art/Aquaticus-Social-91014249">jwloh</a> for Aquaticus social icons and <a rel="nofollow" href="http://nivo.dev7studios.com">dev7studios</a> for Nivo Slider.</p>#}
{#            <div class="cleaner"></div>#}
{#              <a href="{% url 'blog_post' %}" class="more float_r">Read more</a>#}
{#          </div>#}
{#        <div class="cleaner"></div>#}
{#    </div>#}
{##}
{#    <div class="post_box">#}
{#        <a href="#"><img src="{% static "images/templatemo_image_02.jpg" %}" alt="Image 2"/></a>#}
{#        <div class="post_box_right">#}
{#            <a href="#">CSS Templates</a>, <a href="#">Web Design</a>#}
{#            <h2>Web Development Tips</h2>#}
{#            <div class="post_meta"><strong>Date:</strong> May 24, 2048 | <strong>Author:</strong> Vinla | <a#}
{#                    href="blog_post.html">512 comments</a></div>#}
{#            <p> Cras porta porta turpis, sed ornare quam adipiscing non. Mauris sit amet ipsum enim. Mauris et elit#}
{#                eget risus congue malesuada aliquet eget augue. Credits go to <a rel="nofollow"#}
{#                                                                                 href="http://www.brusheezy.com/brushes/1639-Urban">Rawox</a>#}
{#                for Photoshop Brushes and <a rel="nofollow"#}
{#                                             href="http://www.gcmingati.net/wordpress/wp-content/lab/jquery/svwt/">slideViewerPro</a>#}
{#                for image slider. </p>#}
{#            <div class="cleaner"></div>#}
{#            <a href="{% url 'blog_post' %}" class="more float_r">Read more</a>#}
{#        </div>#}
{#        <div class="cleaner"></div>#}
{#    </div>#}

    {% for article in articles %}
        <div class="post_box post_box_last">
            <a href="{% url 'article_detail' article.id %}">
                <img src="{{ article.image.url }}" alt="{{ article.title }}"></a>
            <div class="post_box_right">
                <a href="#">Marketing</a>, <a href="#">Advertising</a>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description|linebreaks|truncatechars_html:120 }}</p>
                <div class="post_meta"><strong>Date:</strong> May 20, 2048 | <strong>Author:</strong> Juvinho | <a
                        href="blog_post.html">256 comments</a></div>
                <p></p>
                <div class="cleaner"></div>
                <a href="{% url 'blog_post' %}" class="more float_r">Read more</a>
            </div>
            <div class="cleaner"></div>
        </div>
    {% endfor %}

    <a href="{% url 'article_list' %}">بیشتر</a>



{% endblock content %}
